<!DOCTYPE html>
<html>
<head>
<title>IDS Security System</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
<div class="logo">Intrusion Detection System</div>

<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/detect">Detect</a></li>
</ul>
</nav>

<section class="hero">

<h1>Network Intrusion Detection System</h1>

<p>
A Machine Learning based security system that monitors
network traffic and detects malicious activities.
</p>

<a href="/detect">
<button class="main-btn">Start Detection</button>
</a>

</section>

<footer>
<p>Intrusion Detection System | ML + Flask Project</p>
</footer>

</body>
</html>